body{
  background-color: white;
}

.home-card{
  background-color: white;
  /* border: 2px solid black; */
  box-shadow: 2px 2px 5px 2px gray;
  padding: 10px;
 
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.parent{
  position: relative;
  border: 1px solid blue;
  /* display: flex;
  justify-content:space-around; */
  /* display: inline; */
}


.sorted-list{
  /* border: 2px solid red; */
  position: absolute;
  background-color: white;
  /* bottom: 0px; */
  left: 0px;
  box-shadow: 2px 2px 5px 2px gray;
  padding: 5px;
  font-size: 1.5em;
}

.items{
  background-color: white;
  border: 2px solid black;
  /* box-shadow: 2px 2px 5px 2px gray; */
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  /* display: flex; */
  display: inline-block;
  margin: 10px;

}

.dish{
  width: 50%;
  height: 20px;
  word-wrap: break-word;
  border: 1px solid red;
  display: inline;
}

.rate{
  width: 10%;
  border: 2px solid red;
  display: inline;
  margin-left: 20px;
}

.add-items{
  border: 1px solid black;
  padding: 2px;
  font-size: 1.2em;
  margin: 2px;
  text-decoration: none;
}

.delete{
  display: inline;
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
  
}

.table-cart{
  border: 2px solid red;
  /* display: flex; */
  /* display: block; */
  /* width: 500px; */
}

.item-row{
  display: block;
  border: 1px solid violet;
}

.sno{
  display: inline-block;
  border: 1px solid black;
  width: 10px;
  margin: 5px;
  padding: 2px;
}

.itemno{
  display: inline-block;
}

